{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="{% static "src/css/styles.css" %}" rel="stylesheet">
        <script type="module" src={% static "src/js/boostrap.js" %}></script>

        <style type="text/css">
     
            .tippy-box[data-theme~='cognify-chat'] {
              background-color:  rgb(31 41 55);
              color: white;
              min-width: 500px;
              z-index: -10;
              overflow: hidden;
            }
          </style>
    </head>
    <body class="antialiased container mx-auto bg-gray-900">
        <div class="text-4xl text-gray-400">Token Calculator</div>
       
        <form method="POST" action="/calculate-tokens" class="flex flex-col gap-2">
            {% csrf_token %}
            <div class="flex flex-col gap-0.5 w-full">
                <label class="text-gray-400" for="encode_name">Encode</label>
                <select id="encode_name" name="encode_name" class="text-gray-400 bg-gray-700 rounded-lg p-2 w-fit">
                    <option value="">Select Encode</option>
                    <option value="o200k_base">o200k_base</option>
                    <option value="cl100k_base">cl100k_base</option>
                    <option value="p50k_base">p50k_base</option>
                    <option value="r50k_base">r50k_base</option>
                </select>
                <label class="text-xs text-gray-400 w-2/12">To find out which encoder corresponds to a specific model, click 
                    <span class="info-btn hover:underline underline-blue-600 text-blue-600 cursor-pointer">here</span>.
                </label>
            </div>
            <div class="flex flex-col gap-0.5 w-full">
                <label class="text-gray-400" for="encode">Prompt</label>
                <textarea name="prompt" placeholder="Type your prompt" class="text-gray-400 bg-gray-700 rounded-lg p-2" rows="10"></textarea>
            </div>
            <button type="submit" class="px-2 py-1 bg-gray-400 text-gray-700 rounded-lg w-fit">Submit</button>
        </form>
        {% if num_tokens %}
        <div class="bg-gray-500/10 border border-gray-500 p-2 rounded-lg flex flex-col gap-2 mt-2">
            <div>
                <span class="text-gray-300 text-xl" >The count of tokens is:</span>
                <span class="font-bold text-gray-300 text-xl">{{ num_tokens }}</span>
            </div>
            <div>
                <span class="text-gray-300 text-xl" >Encode name:</span>
                <span class="font-bold text-gray-300 text-xl">{{ encode_name }}</span>
            </div>
        </div>
        {% endif %}
    
    
        
    <div id="template" style="display: none; background: white; width: 500px">
        <div class="messaging" data-instance-id="instanceId">
            <div style="display: flex; flex-direction: column; gap: 6px">
                <div class="flex flex-col gap-1">
                    <div class="bg-gray-600 rounded-lg flex flex-row gap-x-4 p-1.5">
                        <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">o200k_base</span>
                        <div class="flex flex-row items-end">
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">gpt-4o</span>
                            <span class="">&comma;</span>
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">gpt-4o-mini</span>    
                        </div>
                    </div>
                    <div class="bg-gray-600 rounded-lg flex flex-row gap-x-4 p-1.5">
                        <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">cl100k_base</span>
                        <div class="flex flex-row items-end">
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">gpt-4-turbo</span>
                            <span class="">&comma;</span>
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">gpt-3.5-turbo</span>    
                            <span class="">&comma;</span>
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">text-embedding-ada-002</span>    
                            <span class="">&comma;</span>
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">text-embedding-3-small</span>    
                            <span class="">&comma;</span>
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">text-embedding-3-large</span>    
                        </div>
                    </div>
                    <div class="bg-gray-600 rounded-lg flex flex-row gap-x-4 p-1.5">
                        <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">p50k_base</span>
                        <div class="flex flex-row items-end">
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">text-davinci-002</span>
                            <span class="">&comma;</span>
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">text-davinci-003</span>      
                        </div>
                    </div>
                    <div class="bg-gray-600 rounded-lg flex flex-row gap-x-4 p-1.5">
                        <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">r50k_base</span>
                        <div class="flex flex-row gap-0.5 items-end">
                            <span>GPT-3 models like </span>   
                            <span class="bg-gray-300/10 rounded-lg p-0.5 w-fit">davinci</span>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>



    <script type="module">
        const infoBtn = document.querySelectorAll('.info-btn');
        const pop_over_template = document.getElementById('template').innerHTML;

            tippy(infoBtn, {
              hideOnClick: true,
              trigger: 'click',
              content: pop_over_template,
              allowHTML: true,
              theme: 'cognify-chat',
              arrow: false,
              interactive: true,
              maxWidth: 'none',
              placement: 'top-end',
              zIndex: 1,
            });
    </script>

</html>